@import '../colors.scss';
@import '../dynamicSizes.scss';

.slice-section {
    display: flex;
    margin-bottom: 30px;
}

.slice-section__text-section {
    width: 60vw;
    padding: 40px 40px 80px 40px;
    background-color: $primary;
}

.slice-section__text {
    font-size: 18px;
    color: $white;
}

.slice-section__img-section {
    width: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
}
