@import './components/header.scss';
@import './dynamicSizes.scss';
@import './components/sliceSection.scss';
@import './components/statistics.scss';
@import './components/list.scss';
@import './components/place.scss';
@import './components/search.scss';
@import './media.scss';

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/Sourcecodeproblack.woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/Sourcecodeprobold.woff2');
    font-weight: 800;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/Sourcecodeprosemibold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/Sourcecodepromedium.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/Sourcecodepro.woff2');
    font-weight: 500;
}

body {
    font-family: 'Source Code Pro';
    margin: 0;
}

* {
    box-sizing: border-box;
}

.places,
.place {
    padding: $bodyPaddingTBSize $bodyPaddingRLSize;
}

.title {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 25px;
    margin: 0;
}
